/* Need to style the docuemnt once done. */
body{
    background-color: #000000;
}

.hide{
    display: none
}

#start{
    color: blue;
    text-align: center;
    font-size: xx-large;
  
    
}

#question-holder{
    color:darkcyan;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
}

#viewport {
    text-align: center;
    
}

.timer{
    text-align: center;
    font-size: x-large;
}